.memory-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 155px;
    background-color: #F25A70;
    border-radius: 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.memory-card>img {
    width: 100px;
}